global-exclude *.pyc

include LICENSE *.rst *.toml *.yml *.yaml *.ini *.md *.py
graft .github

recursive-include src/footings_idi_model/* *.csv *.json *.yaml
recursive-include tests/data *

include versioneer.py
include src/footings_idi_model/_version.py
